.ReceiptContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    height: 80%;
    box-shadow: 0 0 5px grey;
    flex: 0 0 auto;
    border-radius: 7px;
    padding: 10px;
    color: black;
    overflow-y: auto;
}

.Label {
    font-weight: bold;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Table {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.Total {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: turquoise; */
}
