.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: none;
    border: 1px solid #00e6ff;
    color: #00e6ff;
    font-weight: bold;
    padding-left: 30px;
}

.buttons {
    display: flex;
    width: 20%;
    flex-direction: row;
    justify-content: space-evenly;
}
