.Content {
    width: 90%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow-y: auto;
    box-shadow: 0 0 5px grey;
    border-radius: 7px;
}
