.ProviderContainer {
    width: 85%;
    margin: 36px;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    font-family: "Nunito";
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 5px gray;
    /* flex: 0 0 auto; */
}

.ProviderName:active {
    background-color: #0d4894;
}

.ProviderName {
    color: white;
    font-size: 22px;
    background-color: #0f52ab;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 20px 30px;
}

.ProviderId {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    color: #0f52ab;
    font-size: 20px;
}
