.module-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  z-index: 4;
}

.module-header span {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 28px;
  color: #0F52AB;
  margin-left: 50px;
  user-select: none;
}

.module-header-buttons-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

.module-header-button {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.header-button-clickable-area {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
  background: transparent;
}

.module-header-button svg {
  width: 30px;
  height: 30px;
  fill: #c3c3c3;

  transition: 0.3s;
}

.module-header-button.on svg {
  fill: #ffffff;
}

.module-header-button:hover {
  background: #eeeaea;
}

.module-header-button.on {
  background: #0F52AB;
}

.module-header-button.on:hover {
  background: #63f0ff;
}
