.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
}
.ContentContainer {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: margin 1s;
}

.HeaderContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 10%;
  width: 100%;
}

.SearchContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: height 1s;
  z-index: 100;
  background-color: green;
  margin: 0;
  padding: 0;
}

.ToggleButtonContainer {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0f52ab;
  padding-bottom: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.ToggleButton {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.SearchInputsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
  width: 100%;
  height: 100%;
  transition: height 1s;
  z-index: 10;
}

.InputsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: height 1s;
}

.Input {
  width: 30%;
  display: flex;
  justify-content: center;
}

.IconsContainer {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
