#Menu-container {
  width: 5.5%;
  height: 100%;
  min-width: 70px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #00e6ff;
}

.Menu-button {
  margin: 10px 0 10px 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
}

.Menu-button svg {
  width: 40px;
  height: 40px;
  fill: white;
  user-select: none;
}

.Menu-button.on {
  background: white;
}

.Menu-button.on svg {
  fill: #00e6ff;
}
