.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
}

.Content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.HeaderContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 10%;
  width: 100%;
}

.ButtonsContainer {
}

.SearchContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: height 1s;
  z-index: 100;
  background-color: green;
  margin: 0;
  padding: 0;
}

.ToggleButtonContainer {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0f52ab;
  padding-bottom: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.ToggleButton {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.Icon {
  width: 30px;
  height: 30px;
  color: white;
}

.Input {
  width: 30%;
  display: flex;
  justify-content: center;
}

.AddNewClient {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  background-color: #0f52ab;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  z-index: 150;
}

.AddIcon {
  color: white;
  width: 50px;
  height: 50px;
}

.AddNewClient:active {
  background-color: #0d4894;
}

.AddIcon:active {
  color: rgb(212, 212, 212);
}
