.Container {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    user-select: none;
}

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    background-color: white;
    color: #0f52ab;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    z-index: 150;
}

.HeaderContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 10%;
    width: 100%;
}

.ContentContainer {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin 1s;

    /* background-color: beige; */
}

.Input {
    width: 30%;
    display: flex;
    justify-content: center;
}

.IconsContainer {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
